@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  text-align: center;
}

nav ul {
  display: flex;
  padding: 0;
  gap: 20px;
}

nav li {
  list-style-type: none;
}

nav li:hover {
  color: lightseagreen;
  text-decoration: underline;
  cursor: pointer;
}